
config AK_SERIAL_NUMBER
	tristate "Anyka Serial Number Interface"
	depends on ARCH_AK39
	---help---
	 If you say yes here you get an sysfs interface to read device serial number 
	 on Anyka platform.

config AK_MOTOR
	tristate "Anyka Motor Support"
	default n
	help
	  If you say yes here you get support for the Anyka Motor device.

config AK_DAC_CLOCK
	tristate "Anyka Ak98 Dac Clock"
	depends on ARCH_AK39
	help
	If you say yes here you retrieve the elapsed time in dac driver

comment "user space generic gpio controller"
config GPIOS_AKCUSTOM
	tristate "Generic akgpio custom support"
	depends on ARCH_AK39
	help
		This enables anyka's generic GPIO for setting support through user space controller.
		if you want need to enable this, you can control attribute of akgpio,
		example dir[in/out], out[high/low], pull[up/down], get gpio level,
		irq polarity[low/high], request gpio irq and delete irq etc.

		If unsure, say N.
