
config ARCH_AK39
	bool "ANYKA AK39XX"
	select CPU_ARM926T
	select GENERIC_GPIO
	select ARCH_REQUIRE_GPIOLIB
	select CLKDEV_LOOKUP
#   select WIRELESS_EXT
	select ARCH_USES_GETTIMEOFFSET
	select ARCH_HAS_CPUFREQ
	help
	  Support for Anyka AK39xx series Chips platform.

source "arch/arm/mach-ak39/Kconfig"
source "arch/arm/plat-anyka/Kconfig"


config RAM_BASE
	hex "RAM physical starting address"
	depends on ARCH_AK39
	default 0x80000000
	help
	  ANYKA RAM physical starting address (in hex), default addr is 0x80000000 for Anyka platform.

config VIDEO_RESERVED_MEM_SIZE
	hex "Memory reserved for video decoding"
	depends on ARCH_AK39
	default 0x1A00000
	help
	  ANYKA H.264 decoder requires continuous physical RAM which do NOT cross
	  32MB boundary (Decoder IP requirement). So we have to reserve enough RAM
	  for H.264 decoding. Default size is 0x1A00000 (26MB) for AK39xx.

