
choice
	prompt "ANYKA ak39 watchdog"
	default AK39_WATCHDOG
	depends on ARCH_AK39

config AK39_WATCHDOG
	bool "RTC"
	depends on ARCH_AK39
	help
	  Say Y here if you are using the rtc watchdog

config AK39_WATCHDOG_TOP
	bool "TOP"
	depends on ARCH_AK39
	help
	  Say Y here if you are using the top watchdog

config AK39_WATCHDOG_NONE
	bool "NONE"
	depends on ARCH_AK39
	help
	  Say Y here if you are not useing any watchdog

endchoice
