
config SPI_ANYKA
     tristate "ANYKA SPI controller"
     depends on SPI_MASTER && (ARCH_AK98 || ARCH_AK39)
     select SPI_BITBANG
     help
       SPI driver for anyka ARM SoCs
       

# (slave support would go here)
config SPI_ANYKA_SLAVE
	tristate "ANYKA SPI slave controller "
    depends on (ARCH_AK98 || ARCH_AK39) && !SPI_ANYKA
    help
    	This is the SPI slave controller driver for anyka platform

