
config CRYPTO_DEV_ANYKA
	tristate "Support for Anyka crypto engine"
	depends on ARCH_AK39
	select CRYPTO_ALGAPI
	select CRYPTO_BLKCIPHER
	select CRYPTO_AES
	help
		This option allows you to have support for Anyka crypto engine.
		Select this to offload the Anyka crypto module for AES algorithms.

