
config MMC_ANYKA
	bool "ANYKA MMC/SD/SDIO Card Interface support"
	depends on ARCH_AK39
	help
	  This selects a driver for the MCI interface found in ANYKA's CPUs.
	  If you have a board based on one of those and a MMC/SD
	  slot, say Y here. If unsure, say N.


